<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqJZEVyZMMPXMFrTwe13ld9PoSID6xwdc</string>
	<key>GCM_SENDER_ID</key>
	<string>926511270144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.delta.lock</string>
	<key>PROJECT_ID</key>
	<string>bitebox-79d22</string>
	<key>STORAGE_BUCKET</key>
	<string>bitebox-79d22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:926511270144:ios:2b1b5add3f4b83eaa34be5</string>
	<key>DATABASE_URL</key>
	<string>https://bitebox-79d22-default-rtdb.firebaseio.com</string>
</dict>
</plist>